<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>workshop-gildedrose</id>
      <username>username</username>
      <password>password</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>workshop-gildedrose</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://localhost:8081/nexus3/repository/maven-central/</url>
        </repository>
        <repository>
          <id>sponge-alpha</id>
          <url>http://localhost:8081/nexus3/repository/sponge-alpha/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>
